# Project 4 

Outline:

* scraping data

* binning: by salary

* parsing data: tokenizing, bigrams, most_common words for each bin 

* building model

* evaluating model

# load the library
from bs4 import BeautifulSoup
import urllib2, requests
import pandas as pd

df = pd.DataFrame()   # create a new data frame
pd.set_option('max_colwidth',500)    # to remove column limit (default is 50. Otherwise, we'll lose some info)


# indeed.com's query url
base_url = 'http://www.indeed.com/jobs?q=data+scientist&jt=fulltime&sort='
sort_by = 'date'          # sort by data
start_from = '&start='    # start page number

Downloading the whole data for US. 09/29/2016

for page in range(1,1000): # page from 1 to 100 
    page = (page-1) * 10   # pagination
    url = "%s%s%s%d" % (base_url, sort_by, start_from, page) # get full url 
    contents = BeautifulSoup(urllib2.urlopen(url), "lxml") 

    contentsElements = contents.find_all('div', attrs={"class" : '  row  result'})
    cont = contents.find('div', attrs = {'class': 'lastRow  row  result'}) ##just added last job on each page
    contentsElements.append(cont)
    # each row contains 1 job

    # extract job information
    for elem in contentsElements: 
        try:
            company = elem.find('span', attrs={'itemprop':'name'}).getText().strip() #strips off whitespace 
#           salary = elem.find('table', attrs={'class':'snip'}).getText().strip() #strips off whitespace
        except AttributeError:
            company = '-'
        job_title = elem.find('a', attrs={'class':'turnstileLink'}).attrs['title']
        home_url = "http://www.indeed.com"
        job_link = "%s%s" % (home_url,elem.find('a').get('href'))
        job_addr = elem.find('span', attrs={'itemprop':'addressLocality'}).getText()
        job_posted = elem.find('span', attrs={'class': 'date'}).getText()
        

           # add a record of job info to our data frame

        df = df.append({'company': company, 
                        'job_title': job_title, 
                        'job_link': job_link, 
                        'job_posted': job_posted,
                        'job_location': job_addr
                       }, ignore_index=True)

In [ ]:
df

In [128]:
# check one entry to verify contents
print df.iloc[6]

company                                                             Cisco Systems, Inc.
job_link        http://www.indeed.com/rc/clk?jk=6cb402d057d00c35&fccid=dfc44f3b8c44a6db
job_location                                                               San Jose, CA
job_posted                                                                  Just posted
job_title                                       Data Scientist - Technology and Quality
Name: 6, dtype: object

In [129]:
# Save the result to CSV
df.to_csv('./indeed_companies.csv', encoding='utf-8')

Downloading the whole data for Australia. 09/29/2016

In [130]:
# load the library


df_au = pd.DataFrame()   # create a new data frame
pd.set_option('max_colwidth',500)    # to remove column limit (default is 50. Otherwise, we'll lose some info)


# indeed.com's query url
base_url = 'http://au.indeed.com/jobs?q=Data+Scientist&jt=fulltime'
sort_by = 'date'          # sort by data
start_from = '&start='    # start page number

for page in range(1,10): # page from 1 to 100 
    page = (page-1) * 10   # pagination
    url = "%s%s%s%d" % (base_url, sort_by, start_from, page) # get full url 
    contents = BeautifulSoup(urllib2.urlopen(url), "lxml") 

    contentsElements_au = contents.find_all('div', attrs={"class" : '  row  result'})
    cont_au = contents.find('div', attrs = {'class': 'lastRow  row  result'}) ##just added last job on each page
    contentsElements_au.append(cont_au)
    # each row contains 1 job

    # extract job information
    for elem in contentsElements_au: 
        try:
            company_au = elem.find('span', attrs={'itemprop':'name'}).getText().strip() #strips off whitespace 
        except AttributeError:
            company = '-'
        job_title_au = elem.find('a', attrs={'class':'turnstileLink'}).attrs['title']
        home_url_au = "http://www.indeed.com"
        job_link_au = "%s%s" % (home_url,elem.find('a').get('href'))
        job_addr_au = elem.find('span', attrs={'itemprop':'addressLocality'}).getText()
        job_posted_au = elem.find('span', attrs={'class': 'date'}).getText()

           # add a record of job info to our data frame

        df_au = df_au.append({'company': company_au, 
                        'job_title': job_title_au, 
                        'job_link': job_link_au, 
                        'job_posted': job_posted_au,
                        'job_location': job_addr_au
                       }, ignore_index=True)
df_au

Save the result to CSV
df_au.to_csv('./indeed_companies_au.csv', encoding='utf-8')

jobs_data = pd.read_csv('indeed_companies.csv')
jobs_data_au = pd.read_csv('indeed_companies_au.csv')
frames = [jobs_data, jobs_data_au]
result = pd.concat(frames, axis = 0, ignore_index = True)
result

In [155]:
import matplotlib as plt
%matplotlib inline

.

In [51]:
def extract_text(el):
    if el:
        return el.text.strip()
    else:
        return ''      

def get_company_from_result(result):
    return extract_text(result.find('span', {'class' : 'company'}))

def get_location_from_result(result):
    return extract_text(result.find('span', {'class' : 'location'}))

def get_summary_from_result(result):
    return extract_text(result.find('span', {'class' : 'summary'}))

def get_title_from_result(result):
    return result.find('a', {'data-tn-element' : 'jobTitle'}).text.strip()

def get_salary_from_result(result):
    salary_table = result.find('td', {'class' : 'snip'})
    if salary_table:
        snip = salary_table.find('nobr')
        if snip:
            return snip.text.strip()

    return None


def extract_salary_average(salary_string):
    regex = r'\$([0-9]+,[0-9]+)'
    matches = re.findall(regex, salary_string)
    return np.mean([float(salary.replace(',', '')) for salary in matches ])

In [74]:
import pandas as pd
from bs4 import BeautifulSoup
import urllib2, requests


url_template = "http://www.indeed.com/jobs?q=data+scientist+${}%2C000&l=USA&start={}"
max_results_per_city = 5000 # Set this to a high-value (5000) to generate more results. 

# Crawling more results, will also take much longer. First test your code on a small number of results and then expand.

#city = elem.find('span', attrs={'itemprop':'addressLocality'}).getText()

rows = []
for salary in set([ '55-70', '70-85', '85-100', '100-115']):
    for start in range(1,10): 
        r = requests.get(url_template.format(salary, start))
        soup = BeautifulSoup(r.content) 
        results = soup.findAll('div', { "class" : "result" })
        for result in results:
            if result:
                row = {}
                row['title'] = get_title_from_result(result)
                row['company'] = get_company_from_result(result)
                row['summary'] = get_summary_from_result(result)
                row['city'] = get_location_from_result(result) 
                row['bin'] = salary
            #row['salary'] = get_salary_from_result(result)
                rows.append(row)

In [5]:
#result.to_csv('./indeed_companies.csv', encoding='utf-8')

In [75]:
pd.set_option('max_colwidth',500)
result = pd.DataFrame.from_records(rows)
#result.set_option('max_colwidth',500) # create a new data frame
result.drop_duplicates(subset = "summary")

,bin,city,company,summary,title
0,85-100,"Santa Clara Valley, CA",Apple,"We are looking for a highly motivated data scientist proficient in generating meaningful insights from complex, multi-dimensional data that can inform and...",Data Scientist - Fitness & Health
1,85-100,"Santa Clara Valley, CA",Apple,"Use distributed data processing and analysis. 5+ years experience working on data science projects. Attention to detail, data accuracy, and quality of output....",Data Scientist - Maps POI
2,85-100,"Washington, DC",Social Tables,"As Social Tables first Data Scientist, you'll be helping us to double-down on our data-informed culture. Skilled in SQL (and NoSQL experience is a plus) to get...",Data Scientist
3,85-100,"San Bruno, CA 94066",Walmart eCommerce,They assist in building large data sets from multiple sources in order to build algorithms for predicting future data characteristics....,Data Scientist Intern 2017- Grace Hopper
4,85-100,"Township of Piscataway, NJ",RangTech,"Experience in data visualization and presentation. Experience/Interest in machine learning, data mining, and predictive analysis....",Data Scientist
5,85-100,"Mountain View, CA",Upwork,"We need data scientists to explore, analyze, and leverage our data to build cutting edge data products for our marketplace....",Data Scientist Intern - Summer 2017
6,85-100,"Tampa, FL",ISPA Technology,"Seeking a Data Scientist to support the Intelligence Community and at Special Operations Command. Ability to merge data sources together, ensure consistency of...",Data Scientist
7,85-100,"Sunnyvale, CA 94089",Proofpoint,"An inquisitive mind with he ability to discover what the data is saying, using the various tools available to the data scientist....",Data Scientist
8,85-100,Remote,Crossover,We are looking for a highly experienced Applied Data Scientist enabling and owning lead scoring methods to drive profitable sales growth. About the Company....,Lead Scoring/Data Scientist - $85K
9,85-100,"Foster City, CA",Eurofins,"QC Data Review Scientist responsibilities include, but are not limited to, the following :. Enter and review analytical data in LIMS and ensure data meets...",QC Data review scientist
43,85-100,"Detroit, MI 48223 (Brightmoor area)","FutureNet Group, Inc",The Analytic Data Scientist creates solutions for the business by recommending ways to bring data to life to solve business problems....,236372 Data Scientists Modeling
44,85-100,"Newtown Square, PA",SAP,For the Data Scientist position we are considering experienced candidates with high analytical problem-solving skills....,Data Scientist - SAP Custom Development Job
46,85-100,"Niskayuna, NY",GE Corporate,"As a Data Scientist, you will:. Work with a team of image analysis and data analytics scientists to help build advanced data analytical capabilities....",Bioinformatics Data Scientist
49,85-100,"Palo Alto, CA",Aol,"The main purpose of this position is to design, validate, prototype, and oversee the production i mplementation of big data prediction algorithms, working...",Research Scientist Big Data
90,70-85,United States,State Farm,Experience w/unstructured data sets:. Our Data Science analysts do much more than just search large data sets & crunch numbers all day!...,Data Scientist
91,70-85,United States,Tuft & Needle,Expertise in working with large data sets. Partner with those teams to adjust and design their strategies using such data....,Data Scientist
92,70-85,"Harrisburg, PA",SAIC,"Data Scientist - Business Intelligence SME (Job Number:. Data Scientists are responsible for modeling, constructing, customizing and tuning of business...",Data Scientist - Business Intelligence SME Job
93,70-85,"Des Moines, IA",EMC Insurance,"Determines data quality activities based on project needs. Working knowledge of big data, statistics/probability and computer programming....",Data Scientist
94,70-85,"West Point, PA",Eurofins,"Strong data analysis skills are required, particularly with molecular assay data. Molecular Scientist in West Point, PA....",Sr.\Pr. Molecular Scientist
95,70-85,"Orlando, FL",NBCUniversal,About Us Universal Orlando® Resort is a universe of opportunities for people who have a lot to offer. It takes a special kind of person to work at Universal,"Data Scientist, Revenue Management"
96,70-85,"Austin, TX 78730",Cognitive Scale,This position is specifically for people with necessary ML and data mining skills listed below. We are looking for highly motivated candidates with a stellar...,Data Scientist
97,70-85,"Washington, DC",Booz Allen Hamilton,"Experience in working with benefits and health data. Ability to manipulate, integrate, and analyze large and complex data sets....",Data Scientist
98,70-85,"Austin, TX",Spiceworks,"Data Aggregation & Analysis:. You’ll be a lead data processor and statistician on both survey and data analytics projects for our clients, using your SPSS chops...",Sr. Statistical Analyst
99,70-85,"Mooresville, NC",Lowe's Careers Site,Conducting exploratory data analysis and modeling; Statistical Analyst applies data mining techniques to both structured and unstructured data to solve business...,Sr. Statistical Analyst
180,100-115,"Redmond, WA 98052",Microsoft,We are looking for highly talented data scientists who can provide data driven insights for tactical and strategic decisions....,Data Scientist II
181,100-115,"Hartford, CT 06156",Aetna,"The role will be responsible for extraction and manipulation of data from multiple, large data sources and using the data to deliver solutions and insights...",Data Scientist
182,100-115,"San Jose, CA",PayPal,"Seeks Data Scientist 3 in San Jose, CA:. Data Science & Analytics. Day....",Data Scientist 3
183,100-115,"Dearborn, MI",Ford Motor Company,"Analytics Scientist position offered by Ford Motor Company (Dearborn, MI). Support development and implementation of feasible solutions and develop complete...",Analytics Scientist
184,100-115,"Plano, TX",Capital One,Integrate internal data with external data sources and APIs to discover actionable insights. Data Science - Plano Only - Other Amazing Universities....,Data Science - Plano Only - Other Amazing Universities
186,100-115,"Menlo Park, CA",Facebook,"Data Scientist, Analytics (Oculus) (Menlo Park, CA) Careers at Oculus Part of Facebook We’re looking for data scientists to work on our core and business...","Data Scientist, Analytics (Oculus)"
187,100-115,"Mountain View, CA 94043",Intellipro Group Inc.,""" Senior level Data Scientist. "" Passion for data. "" 2-3 years of Data mining experience. "" Mine data and provide insight on market analytics, pricing and cost....",Data Scientist
189,100-115,United States,Rover.com,The Data Scientist will also act as a domain expert across all aspects of machine learning. The Data Scientist will act as an expert source of best practices in...,Data Scientist
270,55-70,"Wellesley, MA 02481",Aetna,"The Data Scientist will develop, implement and measure the impact of solutions spanning all available touch points with health care consumers....",Data Scientist Statistician
271,55-70,"Newton, MA","Thermalin Diabetes, LLC",Knack for communicating stories through data visualizations. Format and analyze data to extract key performance parameters....,"Data Scientist - Newton, MA (will work in Boston, MA area)"
272,55-70,"Framingham, MA",Staples,: Qualifications Job : Location(s) : Other Locations : Schedule : : : ...,"Data Scientist, Framingham, MA"
273,55-70,"Atlanta, GA",Northrop Grumman,"Conduct data management and quality assurance. Organize project files, including data and correspondences. Minimum 2 years work experience with HIV/AIDS program...",Health Research Analyst 2
274,55-70,"Hartford, CT 06156",Aetna,"Ability to work with large data sets from multiple data sources.· Demonstrates proficiency in several areas of data modeling, machine learning algorithms,...",Data Scientist Analyst
275,55-70,"Cambridge, MA",KAYAK.com,"Investigate data problems, identify patterns. This person should love working on data parsing, analyzing, investigating, interpreting, modeling, and extracting...",Data Scientist
276,55-70,"Springfield, VA",Concurrent Technologies Corporation,"Associate Data Scientist. CTC has an opportunity for a qualified Associate Data Scientist at Springfield, VA. Responsibilities include preparing thorough, well...",Associate Data Scientist
277,55-70,"Raleigh, NC","Resolvit, LLC","Technical knowledge regarding data models, database design development, data mining, and segmentation techniques....",Data Scientist
278,55-70,"Cambridge, MA",Massachusetts General Hospital(MGH),"In addition, this position involves data analysis and preparation of academic manuscripts and figures as well as abstracts to attend to scientific conferences....","Research Scientist, Sr. (Phd)"
279,55-70,"Alpharetta, GA",krg technology inc,Data scientist with either a Masters or PhD. Should know Machine learning....,Data Scientist
311,55-70,"Irvine, CA",Blizzard Entertainment,"Senior data engineers, data scientists, business analysts, and gameplay designers and engineers. To build out his or her professional foundation with the...","Data Engineer Intern, Business Intelligence"
312,55-70,"Chicago, IL 60654 (Loop area)",RAY ALLEN,"In need of a detail-oriented, analytical problem solver for a full-time Associate Data Scientist. 2+ years Data Analysis experience....",Associate Data Scientist
318,55-70,United States,Harvard University,Experience working with large data sets with demonstrated analytic skills to problem solve effectively. The approaches will be applied to the sequencing data...,Statistician/Programmer

.

In [76]:
pd.set_option('max_colwidth',500)
df = pd.read_csv('indeed_companies.csv')
df[df.bin =="55-70"]

,Unnamed: 0,bin,city,company,summary,title
29970,29970,55-70,"Rockville, MD",ICF,"Experience analyzing data from large social surveys.*. We are business analysts, policy specialists, technologists, researchers, digital strategists, social...",Data Analyst
29971,29971,55-70,"Wellesley, MA 02481",Aetna,"The Data Scientist will develop, implement and measure the impact of solutions spanning all available touch points with health care consumers....",Data Scientist Statistician
29972,29972,55-70,"Newton, MA","Thermalin Diabetes, LLC",Knack for communicating stories through data visualizations. Format and analyze data to extract key performance parameters....,"Data Scientist - Newton, MA (will work in Boston, MA area)"
29973,29973,55-70,"Framingham, MA",Staples,: Qualifications Job : Location(s) : Other Locations : Schedule : : : ...,"Data Scientist, Framingham, MA"
29974,29974,55-70,"Hartford, CT 06156",Aetna,"Ability to work with large data sets from multiple data sources.· Demonstrates proficiency in several areas of data modeling, machine learning algorithms,...",Data Scientist Analyst
29975,29975,55-70,"Cambridge, MA",KAYAK.com,"Investigate data problems, identify patterns. This person should love working on data parsing, analyzing, investigating, interpreting, modeling, and extracting...",Data Scientist
29976,29976,55-70,"Springfield, VA",Concurrent Technologies Corporation,"Associate Data Scientist. CTC has an opportunity for a qualified Associate Data Scientist at Springfield, VA. Responsibilities include preparing thorough, well...",Associate Data Scientist
29977,29977,55-70,"Raleigh, NC","Resolvit, LLC","Technical knowledge regarding data models, database design development, data mining, and segmentation techniques....",Data Scientist
29978,29978,55-70,"Cambridge, MA",Massachusetts General Hospital(MGH),"In addition, this position involves data analysis and preparation of academic manuscripts and figures as well as abstracts to attend to scientific conferences....","Research Scientist, Sr. (Phd)"
29979,29979,55-70,"Alpharetta, GA",krg technology inc,Data scientist with either a Masters or PhD. Should know Machine learning....,Data Scientist
29980,29980,55-70,"Rockville, MD",ICF,"Experience analyzing data from large social surveys.*. We are business analysts, policy specialists, technologists, researchers, digital strategists, social...",Data Analyst
29981,29981,55-70,"Wellesley, MA 02481",Aetna,"The Data Scientist will develop, implement and measure the impact of solutions spanning all available touch points with health care consumers....",Data Scientist Statistician
29982,29982,55-70,"Newton, MA","Thermalin Diabetes, LLC",Knack for communicating stories through data visualizations. Format and analyze data to extract key performance parameters....,"Data Scientist - Newton, MA (will work in Boston, MA area)"
29983,29983,55-70,"Framingham, MA",Staples,: Qualifications Job : Location(s) : Other Locations : Schedule : : : ...,"Data Scientist, Framingham, MA"
29984,29984,55-70,"Hartford, CT 06156",Aetna,"Ability to work with large data sets from multiple data sources.· Demonstrates proficiency in several areas of data modeling, machine learning algorithms,...",Data Scientist Analyst
29985,29985,55-70,"Cambridge, MA",KAYAK.com,"Investigate data problems, identify patterns. This person should love working on data parsing, analyzing, investigating, interpreting, modeling, and extracting...",Data Scientist
29986,29986,55-70,"Springfield, VA",Concurrent Technologies Corporation,"Associate Data Scientist. CTC has an opportunity for a qualified Associate Data Scientist at Springfield, VA. Responsibilities include preparing thorough, well...",Associate Data Scientist
29987,29987,55-70,"Raleigh, NC","Resolvit, LLC","Technical knowledge regarding data models, database design development, data mining, and segmentation techniques....",Data Scientist
29988,29988,55-70,"Cambridge, MA",Massachusetts General Hospital(MGH),"In addition, this position involves data analysis and preparation of academic manuscripts and figures as well as abstracts to attend to scientific conferences....","Research Scientist, Sr. (Phd)"
29989,29989,55-70,"Alpharetta, GA",krg technology inc,Data scientist with either a Masters or PhD. Should know Machine learning....,Data Scientist
29990,29990,55-70,"Rockville, MD",ICF,"Experience analyzing data from large social surveys.*. We are business analysts, policy specialists, technologists, researchers, digital strategists, social...",Data Analyst
29991,29991,55-70,"Wellesley, MA 02481",Aetna,"The Data Scientist will develop, implement and measure the impact of solutions spanning all available touch points with health care consumers....",Data Scientist Statistician
29992,29992,55-70,"Newton, MA","Thermalin Diabetes, LLC",Knack for communicating stories through data visualizations. Format and analyze data to extract key performance parameters....,"Data Scientist - Newton, MA (will work in Boston, MA area)"
29993,29993,55-70,"Framingham, MA",Staples,: Qualifications Job : Location(s) : Other Locations : Schedule : : : ...,"Data Scientist, Framingham, MA"
29994,29994,55-70,"Hartford, CT 06156",Aetna,"Ability to work with large data sets from multiple data sources.· Demonstrates proficiency in several areas of data modeling, machine learning algorithms,...",Data Scientist Analyst
29995,29995,55-70,"Cambridge, MA",KAYAK.com,"Investigate data problems, identify patterns. This person should love working on data parsing, analyzing, investigating, interpreting, modeling, and extracting...",Data Scientist
29996,29996,55-70,"Springfield, VA",Concurrent Technologies Corporation,"Associate Data Scientist. CTC has an opportunity for a qualified Associate Data Scientist at Springfield, VA. Responsibilities include preparing thorough, well...",Associate Data Scientist
29997,29997,55-70,"Raleigh, NC","Resolvit, LLC","Technical knowledge regarding data models, database design development, data mining, and segmentation techniques....",Data Scientist
29998,29998,55-70,"Cambridge, MA",Massachusetts General Hospital(MGH),"In addition, this position involves data analysis and preparation of academic manuscripts and figures as well as abstracts to attend to scientific conferences....","Research Scientist, Sr. (Phd)"
29999,29999,55-70,"Alpharetta, GA",krg technology inc,Data scientist with either a Masters or PhD. Should know Machine learning....,Data Scientist
...,...,...,...,...,...,...
39930,39930,55-70,"San Francisco, CA",Ancestry,"Working with a nimble team of physicians, geneticists, statisticians, computer scientists and epidemiologists, the Scientific Data Wrangler will be responsible...",Scientific Data Wrangler
39931,39931,55-70,"New York, NY 10036 (Clinton area)",ESPN,"Report, track and provide analysis of national and local TV ratings data for the ESPN networks and ESPN on ABC, as well as competitors....","Research Analyst, TV"
39932,39932,55-70,"Northridge, CA",California State University,CLINICAL LAB SCIENTIST I:. CLINICAL LAB SCIENTIST II (TECHNOLOGIST):. (Clinical Lab Scientist I or II). Utilizes automated and manual data reporting systems;...,Clinical Lab Scientist or Technologist (Job ID 4286) (4286)
39933,39933,55-70,"Norwich, NY",Kerry,"Proficient in all testing conducted in the Norwich product development (PD) lab including, but not limited to, molecular weight, amino acids, amino nitrogen,...",Product Development Scientist
39934,39934,55-70,"New York, NY 10019 (Midtown area)",Mount Sinai Health System,Reviews and presents data for publication or presentation. Assists the Principal Investigator with publications by extracting and compiling data;...,SENIOR ASSOCIATE RESEARCHER - FULL TIME - DAYS - MSH
39935,39935,55-70,"Lee's Summit, MO",CLARCOR Industrial Air,Prepare tabulation and summary of findings and test data. You will be responsible for executing the test plans laid out by Scientists in the team....,Senior Lab Technician
39936,39936,55-70,"Fort Belvoir, VA",CTI And Associates Inc.,"Preparing inspectionreports, correspondence and data / progress reports. Familiarity andexperience with data input/extract using spreadsheets and databases;...",Hazardous Waste Technician I
39937,39937,55-70,"Dallas, TX",Toyota,"C360, data scientists, Urban Science) and develop advanced predictive models to measure campaign and incentive program performance....",Parts Sales Analyst
39938,39938,55-70,"Atlanta, GA",ICF,The Senior Associate will be responsible for developing data collection instruments and protocols (qualitative and quantitative preferred) as well as assisting...,Tribal Evaluation Specialist
39939,39939,55-70,"Charlotte, NC",Randall Reilly,"Performs tasks relevant to the clarification of EDA debtor information. These tasks include phone number research, outbound phone calls, editing, and basic",Research Analyst
39940,39940,55-70,"San Francisco, CA",Ancestry,"Working with a nimble team of physicians, geneticists, statisticians, computer scientists and epidemiologists, the Scientific Data Wrangler will be responsible...",Scientific Data Wrangler
39941,39941,55-70,"New York, NY 10036 (Clinton area)",ESPN,"Report, track and provide analysis of national and local TV ratings data for the ESPN networks and ESPN on ABC, as well as competitors....","Research Analyst, TV"
39942,39942,55-70,"Northridge, CA",California State University,CLINICAL LAB SCIENTIST I:. CLINICAL LAB SCIENTIST II (TECHNOLOGIST):. (Clinical Lab Scientist I or II). Utilizes automated and manual data reporting systems;...,Clinical Lab Scientist or Technologist (Job ID 4286) (4286)
39943,39943,55-70,"Norwich, NY",Kerry,"Proficient in all testing conducted in the Norwich product development (PD) lab including, but not limited to, molecular weight, amino acids, amino nitrogen,...",Product Development Scientist
39944,39944,55-70,"New York, NY 10019 (Midtown area)",Mount Sinai Health System,Reviews and presents data for publication or presentation. Assists the Principal Investigator with publications by extracting and compiling data;...,SENIOR ASSOCIATE RESEARCHER - FULL TIME - DAYS - MSH
39945,39945,55-70,"Lee's Summit, MO",CLARCOR Industrial Air,Prepare tabulation and summary of findings and test data. You will be responsible for executing the test plans laid out by Scientists in the team....,Senior Lab Technician
39946,39946,55-70,"Fort Belvoir, VA",CTI And Associates Inc.,"Preparing inspectionreports, correspondence and data / progress reports. Familiarity andexperience with data input/extract using spreadsheets and databases;...",Hazardous Waste Technician I
39947,39947,55-70,"Dallas, TX",Toyota,"C360, data scientists, Urban Science) and develop advanced predictive models to measure campaign and incentive program performance....",Parts Sales Analyst
39948,39948,55-70,"Atlanta, GA",ICF,The Senior Associate will be responsible for developing data collection instruments and protocols (qualitative and quantitative preferred) as well as assisting...,Tribal Evaluation Specialist
39949,39949,55-70,"Charlotte, NC",Randall Reilly,"Performs tasks relevant to the clarification of EDA debtor information. These tasks include phone number research, outbound phone calls, editing, and basic",Research Analyst
39950,39950,55-70,"San Francisco, CA",Ancestry,"Working with a nimble team of physicians, geneticists, statisticians, computer scientists and epidemiologists, the Scientific Data Wrangler will be responsible...",Scientific Data Wrangler
39951,39951,55-70,"New York, NY 10036 (Clinton area)",ESPN,"Report, track and provide analysis of national and local TV ratings data for the ESPN networks and ESPN on ABC, as well as competitors....","Research Analyst, TV"
39952,39952,55-70,"Northridge, CA",California State University,CLINICAL LAB SCIENTIST I:. CLINICAL LAB SCIENTIST II (TECHNOLOGIST):. (Clinical Lab Scientist I or II). Utilizes automated and manual data reporting systems;...,Clinical Lab Scientist or Technologist (Job ID 4286) (4286)
39953,39953,55-70,"Norwich, NY",Kerry,"Proficient in all testing conducted in the Norwich product development (PD) lab including, but not limited to, molecular weight, amino acids, amino nitrogen,...",Product Development Scientist
39954,39954,55-70,"New York, NY 10019 (Midtown area)",Mount Sinai Health System,Reviews and presents data for publication or presentation. Assists the Principal Investigator with publications by extracting and compiling data;...,SENIOR ASSOCIATE RESEARCHER - FULL TIME - DAYS - MSH
39955,39955,55-70,"Lee's Summit, MO",CLARCOR Industrial Air,Prepare tabulation and summary of findings and test data. You will be responsible for executing the test plans laid out by Scientists in the team....,Senior Lab Technician
39956,39956,55-70,"Fort Belvoir, VA",CTI And Associates Inc.,"Preparing inspectionreports, correspondence and data / progress reports. Familiarity andexperience with data input/extract using spreadsheets and databases;...",Hazardous Waste Technician I
39957,39957,55-70,"Dallas, TX",Toyota,"C360, data scientists, Urban Science) and develop advanced predictive models to measure campaign and incentive program performance....",Parts Sales Analyst
39958,39958,55-70,"Atlanta, GA",ICF,The Senior Associate will be responsible for developing data collection instruments and protocols (qualitative and quantitative preferred) as well as assisting...,Tribal Evaluation Specialist
39959,39959,55-70,"Charlotte, NC",Randall Reilly,"Performs tasks relevant to the clarification of EDA debtor information. These tasks include phone number research, outbound phone calls, editing, and basic",Research Analyst

In [6]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39960 entries, 0 to 39959
Data columns (total 5 columns):
bin        39960 non-null object
city       39960 non-null object
company    39960 non-null object
summary    39960 non-null object
title      39960 non-null object
dtypes: object(5)
memory usage: 1.5+ MB

In [7]:
%matplotlib inline
import seaborn
result.bin.value_counts()

85-100     9990
55-70      9990
100-115    9990
70-85      9990
Name: bin, dtype: int64

In [223]:
#result.company.unique()

In [8]:
import nltk
import nltk.stem
import nltk.stem.porter
import nltk.stem.snowball
snowball = nltk.stem.snowball.SnowballStemmer("english")
from nltk.corpus import stopwords
import re

Extracting data from DataFrame and Cleaning it from numbers, charactters, stopwords.

In [213]:
junior = str(df[df['bin'].isin(['55-70'])].summary) #subsetting over categories(bins)
mid_low = str(df[df['bin'].isin(['70-85'])].summary)
mid_high = str(df[df['bin'].isin(['85-100'])].summary)
senior = str(df[df['bin'].isin(['100-115'])].summary)

junior_clean = re.sub("[^a-zA-Z]", " ", junior)
mid_low_clean = re.sub("[^a-zA-Z]", " ", mid_low)
mid_high_clean = re.sub("[^a-zA-Z]", " ", mid_high)
senior_clean = re.sub("[^a-zA-Z]", " ", senior)

#junior_clean

stop = set(stopwords.words('english'))
stop.update([',', '"', "'", '?', '!', ':', ';', '(', ')', '[', ']', '{', '}', '...', 'Data', 'data', 'scientist', 'Scientist'])

junior_words = [w for w in (nltk.word_tokenize(junior_clean)) if w.lower() not in stop]
mid_low_words = [w for w in (nltk.word_tokenize(mid_low_clean)) if w.lower() not in stop]
mid_high_words = [w for w in (nltk.word_tokenize(mid_high_clean)) if w.lower() not in stop]
senior_words = [w for w in (nltk.word_tokenize(senior_clean)) if w.lower() not in stop]


len(junior_words)

727

In [214]:
junior_words

['Experience',
 'analyzing',
 'large',
 'social',
 'surveys',
 'business',
 'analysts',
 'policy',
 'specialists',
 'technologists',
 'researchers',
 'digital',
 'strategists',
 'social',
 'develop',
 'implement',
 'measure',
 'impact',
 'solutions',
 'spanning',
 'available',
 'touch',
 'points',
 'health',
 'care',
 'consumers',
 'Knack',
 'communicating',
 'stories',
 'visualizations',
 'Format',
 'analyze',
 'extract',
 'key',
 'performance',
 'parameters',
 'Qualifications',
 'Job',
 'Location',
 'Locations',
 'Schedule',
 'Ability',
 'work',
 'large',
 'sets',
 'multiple',
 'sources',
 'Demonstrates',
 'proficiency',
 'several',
 'areas',
 'modeling',
 'machine',
 'learning',
 'algorithms',
 'Investigate',
 'problems',
 'identify',
 'patterns',
 'person',
 'love',
 'working',
 'parsing',
 'analyzing',
 'investigating',
 'interpreting',
 'modeling',
 'extracting',
 'Associate',
 'CTC',
 'opportunity',
 'qualified',
 'Associate',
 'Springfield',
 'VA',
 'Responsibilities',
 'include',
 'preparing',
 'thorough',
 'well',
 'Technical',
 'knowledge',
 'regarding',
 'models',
 'database',
 'design',
 'development',
 'mining',
 'segmentation',
 'techniques',
 'addition',
 'position',
 'involves',
 'analysis',
 'preparation',
 'academic',
 'manuscripts',
 'figures',
 'well',
 'abstracts',
 'attend',
 'scientific',
 'conferences',
 'either',
 'Masters',
 'PhD',
 'know',
 'Machine',
 'learning',
 'Experience',
 'analyzing',
 'large',
 'social',
 'surveys',
 'business',
 'analysts',
 'policy',
 'specialists',
 'technologists',
 'researchers',
 'digital',
 'strategists',
 'social',
 'develop',
 'implement',
 'measure',
 'impact',
 'solutions',
 'spanning',
 'available',
 'touch',
 'points',
 'health',
 'care',
 'consumers',
 'Knack',
 'communicating',
 'stories',
 'visualizations',
 'Format',
 'analyze',
 'extract',
 'key',
 'performance',
 'parameters',
 'Qualifications',
 'Job',
 'Location',
 'Locations',
 'Schedule',
 'Ability',
 'work',
 'large',
 'sets',
 'multiple',
 'sources',
 'Demonstrates',
 'proficiency',
 'several',
 'areas',
 'modeling',
 'machine',
 'learning',
 'algorithms',
 'Investigate',
 'problems',
 'identify',
 'patterns',
 'person',
 'love',
 'working',
 'parsing',
 'analyzing',
 'investigating',
 'interpreting',
 'modeling',
 'extracting',
 'Associate',
 'CTC',
 'opportunity',
 'qualified',
 'Associate',
 'Springfield',
 'VA',
 'Responsibilities',
 'include',
 'preparing',
 'thorough',
 'well',
 'Technical',
 'knowledge',
 'regarding',
 'models',
 'database',
 'design',
 'development',
 'mining',
 'segmentation',
 'techniques',
 'addition',
 'position',
 'involves',
 'analysis',
 'preparation',
 'academic',
 'manuscripts',
 'figures',
 'well',
 'abstracts',
 'attend',
 'scientific',
 'conferences',
 'either',
 'Masters',
 'PhD',
 'know',
 'Machine',
 'learning',
 'Experience',
 'analyzing',
 'large',
 'social',
 'surveys',
 'business',
 'analysts',
 'policy',
 'specialists',
 'technologists',
 'researchers',
 'digital',
 'strategists',
 'social',
 'develop',
 'implement',
 'measure',
 'impact',
 'solutions',
 'spanning',
 'available',
 'touch',
 'points',
 'health',
 'care',
 'consumers',
 'Knack',
 'communicating',
 'stories',
 'visualizations',
 'Format',
 'analyze',
 'extract',
 'key',
 'performance',
 'parameters',
 'Qualifications',
 'Job',
 'Location',
 'Locations',
 'Schedule',
 'Ability',
 'work',
 'large',
 'sets',
 'multiple',
 'sources',
 'Demonstrates',
 'proficiency',
 'several',
 'areas',
 'modeling',
 'machine',
 'learning',
 'algorithms',
 'Investigate',
 'problems',
 'identify',
 'patterns',
 'person',
 'love',
 'working',
 'parsing',
 'analyzing',
 'investigating',
 'interpreting',
 'modeling',
 'extracting',
 'Associate',
 'CTC',
 'opportunity',
 'qualified',
 'Associate',
 'Springfield',
 'VA',
 'Responsibilities',
 'include',
 'preparing',
 'thorough',
 'well',
 'Technical',
 'knowledge',
 'regarding',
 'models',
 'database',
 'design',
 'development',
 'mining',
 'segmentation',
 'techniques',
 'addition',
 'position',
 'involves',
 'analysis',
 'preparation',
 'academic',
 'manuscripts',
 'figures',
 'well',
 'abstracts',
 'attend',
 'scientific',
 'conferences',
 'either',
 'Masters',
 'PhD',
 'know',
 'Machine',
 'learning',
 'Working',
 'nimble',
 'team',
 'physicians',
 'geneticists',
 'statisticians',
 'computer',
 'scientists',
 'epidemiologists',
 'Scientific',
 'Wrangler',
 'responsible',
 'Report',
 'track',
 'provide',
 'analysis',
 'national',
 'local',
 'TV',
 'ratings',
 'ESPN',
 'networks',
 'ESPN',
 'ABC',
 'well',
 'competitors',
 'CLINICAL',
 'LAB',
 'CLINICAL',
 'LAB',
 'II',
 'TECHNOLOGIST',
 'Clinical',
 'Lab',
 'II',
 'Utilizes',
 'automated',
 'manual',
 'reporting',
 'systems',
 'Proficient',
 'testing',
 'conducted',
 'Norwich',
 'product',
 'development',
 'PD',
 'lab',
 'including',
 'limited',
 'molecular',
 'weight',
 'amino',
 'acids',
 'amino',
 'nitrogen',
 'Reviews',
 'presents',
 'publication',
 'presentation',
 'Assists',
 'Principal',
 'Investigator',
 'publications',
 'extracting',
 'compiling',
 'Prepare',
 'tabulation',
 'summary',
 'findings',
 'test',
 'responsible',
 'executing',
 'test',
 'plans',
 'laid',
 'Scientists',
 'team',
 'Preparing',
 'inspectionreports',
 'correspondence',
 'progress',
 'reports',
 'Familiarity',
 'andexperience',
 'input',
 'extract',
 'using',
 'spreadsheets',
 'databases',
 'C',
 'scientists',
 'Urban',
 'Science',
 'develop',
 'advanced',
 'predictive',
 'models',
 'measure',
 'campaign',
 'incentive',
 'program',
 'performance',
 'Senior',
 'Associate',
 'responsible',
 'developing',
 'collection',
 'instruments',
 'protocols',
 'qualitative',
 'quantitative',
 'preferred',
 'well',
 'assisting',
 'Performs',
 'tasks',
 'relevant',
 'clarification',
 'EDA',
 'debtor',
 'information',
 'tasks',
 'include',
 'phone',
 'number',
 'research',
 'outbound',
 'phone',
 'calls',
 'editing',
 'basic',
 'Working',
 'nimble',
 'team',
 'physicians',
 'geneticists',
 'statisticians',
 'computer',
 'scientists',
 'epidemiologists',
 'Scientific',
 'Wrangler',
 'responsible',
 'Report',
 'track',
 'provide',
 'analysis',
 'national',
 'local',
 'TV',
 'ratings',
 'ESPN',
 'networks',
 'ESPN',
 'ABC',
 'well',
 'competitors',
 'CLINICAL',
 'LAB',
 'CLINICAL',
 'LAB',
 'II',
 'TECHNOLOGIST',
 'Clinical',
 'Lab',
 'II',
 'Utilizes',
 'automated',
 'manual',
 'reporting',
 'systems',
 'Proficient',
 'testing',
 'conducted',
 'Norwich',
 'product',
 'development',
 'PD',
 'lab',
 'including',
 'limited',
 'molecular',
 'weight',
 'amino',
 'acids',
 'amino',
 'nitrogen',
 'Reviews',
 'presents',
 'publication',
 'presentation',
 'Assists',
 'Principal',
 'Investigator',
 'publications',
 'extracting',
 'compiling',
 'Prepare',
 'tabulation',
 'summary',
 'findings',
 'test',
 'responsible',
 'executing',
 'test',
 'plans',
 'laid',
 'Scientists',
 'team',
 'Preparing',
 'inspectionreports',
 'correspondence',
 'progress',
 'reports',
 'Familiarity',
 'andexperience',
 'input',
 'extract',
 'using',
 'spreadsheets',
 'databases',
 'C',
 'scientists',
 'Urban',
 'Science',
 'develop',
 'advanced',
 'predictive',
 'models',
 'measure',
 'campaign',
 'incentive',
 'program',
 'performance',
 'Senior',
 'Associate',
 'responsible',
 'developing',
 'collection',
 'instruments',
 'protocols',
 'qualitative',
 'quantitative',
 'preferred',
 'well',
 'assisting',
 'Performs',
 'tasks',
 'relevant',
 'clarification',
 'EDA',
 'debtor',
 'information',
 'tasks',
 'include',
 'phone',
 'number',
 'research',
 'outbound',
 'phone',
 'calls',
 'editing',
 'basic',
 'Working',
 'nimble',
 'team',
 'physicians',
 'geneticists',
 'statisticians',
 'computer',
 'scientists',
 'epidemiologists',
 'Scientific',
 'Wrangler',
 'responsible',
 'Report',
 'track',
 'provide',
 'analysis',
 'national',
 'local',
 'TV',
 'ratings',
 'ESPN',
 'networks',
 'ESPN',
 'ABC',
 'well',
 'competitors',
 'CLINICAL',
 'LAB',
 'CLINICAL',
 'LAB',
 'II',
 'TECHNOLOGIST',
 'Clinical',
 'Lab',
 'II',
 'Utilizes',
 'automated',
 'manual',
 'reporting',
 'systems',
 'Proficient',
 'testing',
 'conducted',
 'Norwich',
 'product',
 'development',
 'PD',
 'lab',
 'including',
 'limited',
 'molecular',
 'weight',
 'amino',
 'acids',
 'amino',
 'nitrogen',
 'Reviews',
 'presents',
 'publication',
 'presentation',
 'Assists',
 'Principal',
 'Investigator',
 'publications',
 'extracting',
 'compiling',
 'Prepare',
 'tabulation',
 'summary',
 'findings',
 'test',
 'responsible',
 'executing',
 'test',
 'plans',
 'laid',
 'Scientists',
 'team',
 'Preparing',
 'inspectionreports',
 'correspondence',
 'progress',
 'reports',
 'Familiarity',
 'andexperience',
 'input',
 'extract',
 'using',
 'spreadsheets',
 'databases',
 'C',
 'scientists',
 'Urban',
 'Science',
 'develop',
 'advanced',
 'predictive',
 'models',
 'measure',
 'campaign',
 'incentive',
 'program',
 'performance',
 'Senior',
 'Associate',
 'responsible',
 'developing',
 'collection',
 'instruments',
 'protocols',
 'qualitative',
 'quantitative',
 'preferred',
 'well',
 'assisting',
 'Performs',
 'tasks',
 'relevant',
 'clarification',
 'EDA',
 'debtor',
 'information',
 'tasks',
 'include',
 'phone',
 'number',
 'research',
 'outbound',
 'phone',
 'calls',
 'editing',
 'basic',
 'Name',
 'summary',
 'dtype',
 'object']

In [215]:
%matplotlib inline

In [233]:
from nltk.probability import FreqDist
junior_list = sorted(junior_words, key = junior_words.count, reverse=True)
fdist_junior = FreqDist(junior_list)
junior_df = df.from_dict(fdist_junior, orient='index', dtype=int)
junior_df.columns = [ 'value']
jun = junior_df.sort_values(by = 'value', axis=0, ascending=False)

In [246]:
mid_low_list = sorted(mid_low_words, key = mid_low_words.count, reverse=True)
fdist_mid_low = FreqDist(mid_low_list)
mid_low_df = df.from_dict(fdist_mid_low, orient='index', dtype=int)
mid_low_df.columns = [ 'value']
mid_low_df.sort_values(by = 'value', axis=0, ascending=False)

               value
Experience        10
sets               9
large              8
team               7
SiteLock           6
position           6
quality            6
computer           6
hard               6
development        6
project            6
ensure             5
clinical           5
using              5
Review             5
research           5
based              5
Ability            5
analytical         5
mining             5
analysis           5
working            5
requirements       4
people             4
highly             4
motivated          4
etc                4
work               4
join               4
partners           4
...              ...
focused            1
retail             1
region             1
oriented           1
output             1
within             1
universe           1
questions          1
individual         1
dtype              1
Interacts          1
Digital            1
Identifies         1
Policy             1
configuration      1
Analyzes           1
experiments        1
Education          1
user               1
Marketing          1
unique             1
excellent          1
TX                 1
Summary            1
input              1
Division           1
lot                1
current            1
insights           1
challenges         1

[295 rows x 1 columns]

In [218]:
mid_high_list = sorted(mid_high_words, key = mid_high_words.count, reverse=True)
fdist_mid_high = FreqDist(mid_high_list)
mid_high_df = df.from_dict(fdist_mid_high, orient='index', dtype=int)
mid_high_df.columns = [ 'value']
mid_high_df.sort_values(by = 'value', axis=0, ascending=False)

                   value
support               10
scientists            10
analytics             10
experience            10
team                   9
big                    8
engineers              8
business               8
test                   7
Experience             7
analysis               7
including              6
Seeking                6
tools                  6
looking                6
Senior                 6
strong                 5
large                  5
Ability                5
Operations             5
seeking                5
Knowledge              5
Development            5
multiple               5
Analytics              4
Space                  4
Research               4
join                   4
mining                 4
B                      4
...                  ...
supports               1
deploying              1
interdisciplinary      1
Completes              1
technology             1
Director               1
deep                   1
process                1
administrative         1
root                   1
providing              1
Cultivate              1
diverse                1
global                 1
database               1
routine                1
work                   1
insights               1
analyst                1
dtype                  1
Compile                1
ecosystem              1
studies                1
supervisor             1
QC                     1
report                 1
files                  1
new                    1
Medicaid               1
visual                 1

[311 rows x 1 columns]

In [219]:
senior_list = sorted(senior_words, key = senior_words.count, reverse=True)
fdist_senior = FreqDist(senior_list)
senior_df = df.from_dict(fdist_senior, orient='index', dtype=int)
senior_df.columns = [ 'value']
senior_df.sort_values(by = 'value', axis=0, ascending=False)

                value
experience         18
analysis           15
years              11
business           10
projects            9
looking             9
working             7
processing          7
solutions           6
Oculus              6
Analytics           6
big                 6
mining              5
sources             5
science             5
insight             5
role                5
analytics           5
complex             5
learning            5
work                5
machine             5
R                   5
insights            5
Experience          4
act                 4
expert              4
Big                 4
tools               4
database            4
...               ...
Hope                1
develop             1
make                1
Plano               1
assist              1
predictive          1
common              1
Please              1
internal            1
strategic           1
management          1
decrease            1
APIs                1
insightful          1
imperfect           1
professionals       1
future              1
thorough            1
finding             1
teams               1
Name                1
track               1
visualizations      1
especially          1
actionable          1
find                1
analytic            1
folks               1
Applied             1
time                1

[345 rows x 1 columns]

Now lets have a look at bigrams and trigrams as they are more meaningful. In the next few steps I am going to highlight most common bigrams and trigrams for each of 4 categories:

In [223]:
jun_pairs = [ " ".join(pair) for pair in nltk.bigrams(junior_words)]
jun_trigrams = sorted([ " ".join(pair) for pair in nltk.trigrams(junior_words)])
fdist_junpairs = FreqDist(jun_pairs)
fdist_jun_trigrams = FreqDist(jun_trigrams)


jun_bigrams = df.from_dict(fdist_junpairs, orient='index', dtype=int)
jun_bigrams.columns = [ 'value']
jun_bigrams.sort_values(by = 'value', axis=0, ascending=False)


#jun_trigs= df.from_dict(fdist_jun_trigrams, orient='index', dtype=int)
#jun_trigs.columns = [ 'value']
#jun_trigs.sort_values(by = 'value', axis=0, ascending=False)

                             value
CLINICAL LAB                     6
performance parameters           3
systems Proficient               3
learning algorithms              3
VA Responsibilities              3
love working                     3
Machine learning                 3
Associate Springfield            3
progress reports                 3
summary findings                 3
Urban Science                    3
know Machine                     3
extracting Associate             3
work large                       3
strategists social               3
amino nitrogen                   3
publications extracting          3
input extract                    3
communicating stories            3
executing test                   3
acids amino                      3
health care                      3
EDA debtor                       3
machine learning                 3
presentation Assists             3
include preparing                3
Scientists team                  3
design development               3
develop advanced                 3
responsible developing           3
...                            ...
well assisting                   3
editing basic                    3
qualified Associate              3
Familiarity andexperience        3
conferences either               3
local TV                         3
epidemiologists Scientific       3
Assists Principal                3
weight amino                     3
product development              3
including limited                3
calls editing                    3
modeling machine                 3
algorithms Investigate           3
models measure                   3
PhD know                         3
Preparing inspectionreports      3
Working nimble                   3
large sets                       3
development PD                   3
Prepare tabulation               3
social surveys                   3
nimble team                      3
learning Experience              2
basic Working                    2
Name summary                     1
dtype object                     1
learning Working                 1
basic Name                       1
summary dtype                    1

[245 rows x 1 columns]

In [227]:
mid_low_pairs = [ " ".join(pair) for pair in nltk.bigrams(mid_low_words)]
mid_low_trigrams = sorted([ " ".join(pair) for pair in nltk.trigrams(mid_low_words)])
fdist_mid_low = FreqDist(mid_low_pairs)
fdist_mid_low_trigrams = FreqDist(mid_low_trigrams)

#mid_low_bigrams = df.from_dict(fdist_mid_low, orient='index', dtype=int)
#mid_low_bigrams.columns = [ 'value']
#mid_low_bigrams.sort_values(by = 'value', axis=0, ascending=False)


mid_low_trigs= df.from_dict(fdist_mid_low_trigrams, orient='index', dtype=int)
mid_low_trigs.columns = [ 'value']
mid_low_trigs.sort_values(by = 'value', axis=0, ascending=False)

                                    value
requires Handling sensitive             3
sets Partner teams                      3
SiteLock join SiteLock                  3
project needs Working                   3
regular continuing position             3
field product performance               3
target specific markets                 3
continuing position requires            3
engineers Generate laboratory           3
role utilize multiple                   3
evaluates test results                  3
SiteLock making commitment              3
results investigations develops         3
skills listed looking                   3
premier team expert                     3
situations Staff level                  3
multiple sources target                 3
research development SiteLock           3
Business Services project               3
Services project team                   3
demographics competitors industry       3
highly motivated candidates             3
design strategies using                 3
take work hard                          3
analytics demographics competitors      3
play hard approach                      3
team expert architects                  3
quality enhancement Ability             3
commitment part something               3
even conflicting difficult              3
...                                   ...
Marketing join team                     1
business processes process              1
Document identify gaps                  1
within uberPOOL would                   1
join team Plano                         1
special kind person                     1
Policy Expertise working                1
Analyzes problems terms                 1
sources Interacts business              1
turnaround position specifically        1
Experience Takes appropriate            1
stellar Division Analysis               1
people lot offer                        1
candidates stellar Additionally         1
future state Education                  1
form output form                        1
Resort universe opportunities           1
gaps business processes                 1
lot offer takes                         1
clickstream mobile location             1
process mapping illustrate              1
work Universal opening                  1
summary dtype object                    1
stellar Identifies meaningful           1
Planning seeks highly                   1
Latin America unique                    1
takes special kind                      1
Us Universal Orlando                    1
illustrate current future               1
partners identify questions             1

[349 rows x 1 columns]

In [229]:
mid_high_pairs = [ " ".join(pair) for pair in nltk.bigrams(mid_high_words)]
mid_high_trigrams = sorted([ " ".join(pair) for pair in nltk.trigrams(mid_high_words)])
fdist_mid_high = FreqDist(mid_high_pairs)
fdist_mid_high_trigrams = FreqDist(mid_high_trigrams)


mid_high_bigrams = df.from_dict(fdist_mid_high, orient='index', dtype=int)
mid_high_bigrams.columns = [ 'value']
mid_high_bigrams.sort_values(by = 'value', axis=0, ascending=False)


#mid_high_trigs= df.from_dict(fdist_mid_high_trigrams, orient='index', dtype=int)
#mid_high_trigs.columns = [ 'value']
#mid_high_trigs.sort_values(by = 'value', axis=0, ascending=False)

                               value
informed culture                   3
merge sources                      3
Senior experience                  3
plans test                         3
Product Development                3
leverage latest                    3
engineers scientists               3
Amyx seeking                       3
outside Office                     3
Analytics Day                      3
Mathematics Statistics             3
integration transformation         3
sets applying                      3
Skilled SQL                        3
Experience visualization           3
analytics based                    3
join business                      3
CA Science                         3
helping us                         3
Design test                        3
Operations Command                 3
Jose CA                            3
support Intelligence               3
seeking hire                       3
Day member                         3
team create                        3
experience knowledge               3
experience plus                    3
Tables first                       3
consistency Knowledge              3
...                              ...
team Completes                     1
laboratory strong                  1
amounts familiarity                1
mapping troubleshooting            1
supports terrific                  1
ability work                       1
analysis Critical                  1
problems Blue                      1
troubleshooting root               1
Critical thinking                  1
large administrative               1
databases small                    1
devices basic                      1
administrative databases           1
basic materials                    1
technology enjoy                   1
visual representation              1
test procedures                    1
representation conveying           1
approaches diverse                 1
sources including                  1
familiarity interdisciplinary      1
development Name                   1
record strong                      1
Analytics Medicaid                 1
methodological approaches          1
skills including                   1
software providing                 1
thinking mining                    1
cleansing design                   1

[389 rows x 1 columns]

In [230]:
senior_pairs = [ " ".join(pair) for pair in nltk.bigrams(senior_words)]
senior_trigrams = sorted([ " ".join(pair) for pair in nltk.trigrams(senior_words)])
fdist_senior = FreqDist(senior_pairs)
fdist_senior_trigrams = FreqDist(senior_trigrams)

senior_bigrams = df.from_dict(fdist_senior, orient='index', dtype=int)
senior_bigrams.columns = [ 'value']
senior_bigrams.sort_values(by = 'value', axis=0, ascending=False)


#senior_trigs= df.from_dict(fdist_senior_trigrams, orient='index', dtype=int)
#senior_trigs.columns = [ 'value']
#senior_trigs.sort_values(by = 'value', axis=0, ascending=False)

                            value
years experience                6
machine learning                5
processing analysis             5
Park CA                         3
science projects                3
proficient generating           3
highly motivated                3
experience Mine                 3
Use distributed                 3
SQL NoSQL                       3
motivated proficient            3
CA Careers                      3
projects Attention              3
Social Tables                   3
level Passion                   3
Senior level                    3
insights complex                3
Skilled SQL                     3
analytics pricing               3
Menlo Park                      3
meaningful insights             3
provide insight                 3
Oculus Part                     3
distributed processing          3
Passion years                   3
informed culture                3
experience working              3
Oculus Menlo                    3
plus get                        3
analysis years                  3
...                           ...
Company Dearborn                1
future characteristics          1
Background mining               1
cost assist                     1
internal external               1
discover actionable             1
Integrate internal              1
feasible solutions              1
managers Strong                 1
Science Plano                   1
great got                       1
automated dashboards            1
responsibilities range          1
development implementation      1
consistency role                1
predicting future               1
predictive modeling             1
track key                       1
risk reduce                     1
manipulation multiple           1
Scientists collaborate          1
analytic skills                 1
infrastructure reports          1
Evaluates analysis              1
collaborate clients             1
Ford Motor                      1
dashboards visualizations       1
Day Integrate                   1
Create insightful               1
large sources                   1

[442 rows x 1 columns]

Now it seems that towards senior level words as "expert", "management", "lead" appear more frequently. While words like "parsing" and "extracting" are more common for junior category

# Modelling

In [231]:
import sklearn.preprocessing
import sklearn.feature_extraction
tfidf = sklearn.feature_extraction.text.TfidfVectorizer()

In [251]:
words = pd.DataFrame({ 'words' : pd.Categorical(["well", "responsible", "associate", "analyzing", "models",
                                                 "extracting", "development", "performance", "test", "clinical", "scientists",
                                                 "lab", "large", "develop", "extract", "modeling", "measure", "amino", "learning",
                                                 "analysis", "tasks", "summary", "surveys", "experience", "sets", "team", 
                                                 "business", "projects", "quality", "expert", "big"]),
                'junior' : pd.Series((1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0)),
                'mid_low': pd.Series((0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,1,1,0,0,1,0,0)),
            'mid_high' :   pd.Series((0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1)),
                'senior' : pd.Series((0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,1,1))
                     })
words

    junior  mid_high  mid_low  senior        words
0        1         0        0       0         well
1        1         0        0       0  responsible
2        1         0        0       0    associate
3        1         0        0       0    analyzing
4        1         0        0       0       models
5        1         0        0       0   extracting
6        1         0        0       0  development
7        1         0        0       0  performance
8        1         0        0       0         test
9        1         0        0       0     clinical
10       1         0        0       0   scientists
11       1         0        0       0          lab
12       0         1        1       0        large
13       1         0        0       0      develop
14       1         0        0       0      extract
15       1         0        0       0     modeling
16       1         0        0       0      measure
17       1         0        0       0        amino
18       1         0        0       0     learning
19       1         0        0       0     analysis
20       1         0        0       0        tasks
21       1         0        0       0      summary
22       1         0        0       0      surveys
23       0         1        1       1   experience
24       0         0        1       0         sets
25       0         0        1       0         team
26       0         0        0       1     business
27       0         0        0       1     projects
28       0         0        1       0      quality
29       0         0        0       1       expert
30       0         1        0       1          big

In [236]:
#words_draft = pd.DataFrame({ 'words' : pd.Categorical([jun.index[:,30]]),
#                'junior' : pd.Series(1, index=list(range(30)), dtype='int32'),
#            'mid_low' :    pd.Series(0, index=list(range(30))),
#            'mid_high' :   pd.Series(0, index=list(range(30))),
#                'senior' : pd.Series(0, index=list(range(30)))
#                     })

In [255]:
logreg = sklearn.linear_model.LogisticRegression()
X = tfidf.fit_transform(words.words)
logreg.fit(X, words.junior)
list(zip(tfidf.get_feature_names(), logreg.coef_[0]))

[(u'amino', 0.26201299167670072),
 (u'analysis', 0.26201299167670072),
 (u'analyzing', 0.26201299167670072),
 (u'associate', 0.26201299167670072),
 (u'big', -0.55452963081652551),
 (u'business', -0.55452963081652551),
 (u'clinical', 0.26201299167670072),
 (u'develop', 0.26201299167670072),
 (u'development', 0.26201299167670072),
 (u'experience', -0.55452963081652551),
 (u'expert', -0.55452963081652551),
 (u'extract', 0.26201299167670072),
 (u'extracting', 0.26201299167670072),
 (u'lab', 0.26201299167670072),
 (u'large', -0.55452963081652551),
 (u'learning', 0.26201299167670072),
 (u'measure', 0.26201299167670072),
 (u'modeling', 0.26201299167670072),
 (u'models', 0.26201299167670072),
 (u'performance', 0.26201299167670072),
 (u'projects', -0.55452963081652551),
 (u'quality', -0.55452963081652551),
 (u'responsible', 0.26201299167670072),
 (u'scientists', 0.26201299167670072),
 (u'sets', -0.55452963081652551),
 (u'summary', 0.26201299167670072),
 (u'surveys', 0.26201299167670072),
 (u'tasks', 0.26201299167670072),
 (u'team', -0.55452963081652551),
 (u'test', 0.26201299167670072),
 (u'well', 0.26201299167670072)]

In [258]:
from sklearn.cross_validation import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score
(X_train, X_test, Y_train, Y_test) = train_test_split(
  words['words'],
  words['junior'],
  test_size=0.33
)